<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intern</title>
<style>
    table{
    width:100%;
    border-collapse: collapse;
    text-align: left;
    }
    td, th {
border: 2px solid #bf90ee;
text-align: left;
padding: 7px;
}
</style>
</head>
<table>
    <tr>
        <th colspan="4">
            <h1>INTERN STUDENTS</h1>
        </th>
    </tr>
    <tr bgcolor="#7aeb7a">
        <th>Name</th>
        <th>ID No</th>
        <th>Gender</th>
        <th>Photo</th>
    </tr>
    <tr>
        <td>Aashrith</td>
        <td>570</td>
        <td>Male</td>
        <td>
            <img src="/static/img/aashrith.jpg" style="width:100px;height:150px;" >
        </td>
    </tr>
    <tr bgcolor="#bcf5bc">
        <td>Badri</td>
        <td>573</td>
        <td>Male</td>
        <td>
            <img src="/static/img/badri.jpg" style="width:100px;height:150px;" >
        </td>
    </tr>
    <tr>
        <td>Gayathri</td>
        <td>572</td>
        <td>Female</td>
        <td>
            <img src="/static/img/gayathri.jpg" style="width:100px;height:150px;" >
        </td>
    </tr>
    <tr bgcolor="#bcf5bc">
        <td>Kiran</td>
        <td>566</td>
        <td>Male</td>
        <td>
            <img src="/static/img/kiran.jpg" style="width:100px;height:150px;" >
        </td>
    </tr>
    <tr>
        <td>Omesh</td>
        <td>571</td>
        <td>Male</td>
        <td>
            <img src="/static/img/omesh.jpg" style="width:100px;height:150px;" >
        </td>
    </tr>
    <tr bgcolor="#bcf5bc">
        <td>Rakesh</td>
        <td>569</td>
        <td>Male</td>
        <td>
            <img src="/static/img/rakesh.jpg" style="width:100px;height:150px;" >
        </td>
    </tr>
    <tr>
        <td>Sabari</td>
        <td>567</td>
        <td>Male</td>
        <td>
            <img src="/static/img/sabari.jpg" style="width:100px;height:150px;" >
        </td>
    </tr>
    <tr bgcolor="#bcf5bc">
        <td>Vamsi</td>
        <td>568</td>
        <td>Male</td>
        <td>
            <img src="/static/img/vamsi.jpg" style="width:100px;height:150px;" >
        </td>
    </tr>
</table>
</html>